---
import { URL_EF_MINSIDE } from "astro:env/server";
import { BodyLong, Heading } from "@navikt/ds-react";
import EnsligForsørgerIcon from "../icons/EnsligForsørgerIcon.astro";
import styles from "../styles/Komponent.module.css";
import ChevronRightIcon from "./ChevronRightIcon.astro";

const { tittel, undertittel } = Astro.props;
---


<a class={styles.container} href={URL_EF_MINSIDE} id="komponent">
  <span class={styles.ikonOgTekstContainer}>
    <EnsligForsørgerIcon aria-hidden="true"/>
    <span>
      <Heading size="small" level="2">
        {tittel}
      </Heading>
      <BodyLong size="medium">
        {undertittel}
      </BodyLong>
    </span>
  </span>
  <ChevronRightIcon className={styles.chevron} aria-hidden="true" fontSize="24px" />
</a>
<script>
  import { logNavigereEvent } from "@src/utils/amplitude";

  const microfrontend = document.querySelector("#komponent");
  microfrontend?.addEventListener("click", () => logNavigereEvent());
</script>
